<!DOCTYPE html>
<html>

<body>
    <h1> Results </h1>

    <h3> Desired "OR" Questions: {{ independent_ors }}</h3>
    <h3> Desired "AND" Questions: {{ independent_ands }} </h3>
    <h3> Desired Question Results {{ dependent }} </h3>

    <h2> Out of {{ total_number }} responses: </h2>


  
    <p> {{x1}}</p>
    <p> {{x2}}</p>
    <p> {{x3}}</p>
    <p> {{x4}}</p>
    <p> {{x5}}</p>
    <p> {{x6}}</p>
    <p> {{x7}}</p>
    <p> {{x8}}</p>
    <p> {{x9}}</p>
    <p> {{x10}}</p>

    <p> {{x11}}</p>
    <p> {{x12}}</p>
    <p> {{x13}}</p>
    <p> {{x14}}</p>
    <p> {{x15}}</p>
    <p> {{x16}}</p>
    <p> {{x17}}</p>
    <p> {{x18}}</p>
    <p> {{x19}}</p>
    <p> {{x20}}</p>

    <p> {{x21}}</p>
    <p> {{x22}}</p>
    <p> {{x23}}</p>
    <p> {{x24}}</p>
    <p> {{x25}}</p>
    <p> {{x26}}</p>
    <p> {{x27}}</p>
    <p> {{x28}}</p>
    <p> {{x29}}</p>
    <p> {{x30}}</p>

    <p> {{x31}}</p>
    <p> {{x32}}</p>
    <p> {{x33}}</p>
    <p> {{x34}}</p>
    <p> {{x35}}</p>
    <p> {{x36}}</p>
    <p> {{x37}}</p>
    <p> {{x38}}</p>
    <p> {{x39}}</p>
    <p> {{x40}}</p>

    <p> {{x41}}</p>
    <p> {{x42}}</p>
    <p> {{x43}}</p>
    <p> {{x44}}</p>
    <p> {{x45}}</p>
    <p> {{x46}}</p>
    <p> {{x47}}</p>
    <p> {{x48}}</p>
    <p> {{x49}}</p>
    <p> {{x50}}</p>

    <p> {{x51}}</p>
    <p> {{x52}}</p>
    <p> {{x53}}</p>
    <p> {{x54}}</p>
    <p> {{x55}}</p>
    <p> {{x56}}</p>
    <p> {{x57}}</p>
    <p> {{x58}}</p>
    <p> {{x59}}</p>
    <p> {{x60}}</p>

    <p> {{x61}}</p>
    <p> {{x62}}</p>
    <p> {{x63}}</p>
    <p> {{x64}}</p>
    <p> {{x65}}</p>
    <p> {{x66}}</p>
    <p> {{x67}}</p>
    <p> {{x68}}</p>
    <p> {{x69}}</p>
    <p> {{x70}}</p>

    <p> {{x71}}</p>
    <p> {{x72}}</p>
    <p> {{x73}}</p>
    <p> {{x74}}</p>
    <p> {{x75}}</p>
    <p> {{x76}}</p>
    <p> {{x77}}</p>
    <p> {{x78}}</p>
    <p> {{x79}}</p>
    <p> {{x80}}</p>

    <p> {{x81}}</p>
    <p> {{x82}}</p>
    <p> {{x83}}</p>
    <p> {{x84}}</p>
    <p> {{x85}}</p>
    <p> {{x86}}</p>
    <p> {{x87}}</p>
    <p> {{x88}}</p>
    <p> {{x89}}</p>
    <p> {{x90}}</p>

    <p> {{x91}}</p>
    <p> {{x92}}</p>
    <p> {{x93}}</p>
    <p> {{x94}}</p>
    <p> {{x95}}</p>
    <p> {{x96}}</p>
    <p> {{x97}}</p>
    <p> {{x98}}</p>
    <p> {{x99}}</p>
    <p> {{x100}}</p>




</body>




</html>