<!DOCTYPE html>
<html>
<body>





<p>1: Completeness - Is the response filled to completion?</p>
<p>&emsp;2: Complete</p>
<p>&emsp;3: Incomplete</p>

<p>4: Sexual Frequency - How often respondent had sex in year before pandemic</p>
<p>&emsp;5: Several times per week</p>
<p>&emsp;6: Several times per month</p>
<p>&emsp;7: Never</p>
<p>&emsp;8: Several times per year</p>

<p>9: Condom Use Frequency - How often respondent used condoms during sex in year before pandemic</p>
<p>&emsp;10: Every time</p>
<p>&emsp;11: About half of the time</p>
<p>&emsp;12: Never</p>
<p>&emsp;13: More than half of the time</p>
<p>&emsp;14: Less than half of the time</p>

<p>15: Amount of sexual Partners - How many sexual partners respondent had in year before pandemic</p>
<p>&emsp;16: 5-10</p>
<p>&emsp;17: One</p>
<p>&emsp;18: 2 to 5</p>
<p>&emsp;19: More than 10</p>

<p>20: Pregnancy Prevention Concern - Whether or not preventing pregnancy is a concern during sex for respondent</p>
<p>&emsp;21: Yes</p>
<p>&emsp;22: No</p>

<p>23: STI Prevention Concern - Whether or not preventing STI is a concern during sex for respondent</p>
<p>&emsp;24: Yes</p>
<p>&emsp;25: No</p>

<p>26: Confidence - Is respondent confident they can use a condom correctly</p>
<p>&emsp;27: Strongly Agree</p>
<p>&emsp;28: Neither Agree Nor Disagree</p>
<p>&emsp;29: Agree</p>
<p>&emsp;30: Strongly Disagree</p>
<p>&emsp;31: Disagree</p>

<p>32: New Partner and Condom - How likely respondent would use a condom when having sex with a new sexual partner</p>
<p>&emsp;33: I would likely use a condom when I have sex with a new partner</p>
<p>&emsp;34: I am not sure I would use a condom when I have sex with a new partner</p>
<p>&emsp;35: I would likely NOT use a condom when having sex with a new partner</p>

<p>36: Condom reducing pleasure - Does putting on a condom reduce sexual pleasure for respondent</p>
<p>&emsp;37: Strongly Disagree</p>
<p>&emsp;38: Strongly Agree</p>
<p>&emsp;39: Neither Agree nor Disagree</p>
<p>&emsp;40: Disagree</p>
<p>&emsp;41: Agree</p>

<p>42: Easy condom negotiation - Does it feel easy for respondent to have a conversation with sexual partner about using condoms</p>
<p>&emsp;43: Always</p>
<p>&emsp;44: About half of the time</p>
<p>&emsp;45: Most of the time</p>
<p>&emsp;46: Rarely</p>
<p>&emsp;47: Never</p>

<p>48: Why no condom - Reasons respondent cites for not using condoms</p>
<p>&emsp;49: Other</p>
<p>&emsp;50: Chose another form of contraception</p>
<p>&emsp;51: Was trying to conceive</p>
<p>&emsp;52: Condom not available</p>
<p>&emsp;53: Interferting with spontaneity</p>
<p>&emsp;54: Pressure from partner</p>
<p>&emsp;55: Difficulty putting it on</p>
<p>&emsp;56: Decided condom was not necessary</p>
<p>&emsp;57: Felt uncomfortable talking about it with partner</p>
<p>&emsp;58: Loss of intimacy</p>
<p>&emsp;59: Loss of sensation</p>
<p>&emsp;60: Texture/smell of condom</p>
<p>&emsp;61: Interruption of Sex</p>
<p>&emsp;62: Loss of erection</p>
<p>&emsp;63: I always use a condom/this question does not apply to me</p>

<p>64: Pleasure enhancing devices - Pleasure enhancing devices enhances respondent's sexual pleasure</p>
<p>&emsp;65: Strongly Agree</p>
<p>&emsp;66: I do not use pleasure-enhancing devices</p>
<p>&emsp;67: Agree</p>
<p>&emsp;68: Strongly disagree</p>
<p>&emsp;69: Neither agree nor disagree</p>
<p>&emsp;70: Disagree</p>

<p>71: Interest in applicator - Respondent is interested in trying novel applicator</p>
<p>&emsp;72: Strongly Agree</p>
<p>&emsp;73: Agree</p>
<p>&emsp;74: Disagree</p>
<p>&emsp;75: Strongly Disagree</p>
<p>&emsp;76: Neither Agree nor Disagree</p>

<p>77: Reasons for interest in applicator - why respondent wants to try applicator</p>
<p>&emsp;78: Other</p>
<p>&emsp;79: To feel confident that I have applied the condom correctly</p>
<p>&emsp;80: To help apply the condom as quickly as possible</p>
<p>&emsp;81: To enhance stimulation to the penis while putting on condom</p>
<p>&emsp;82: To help maintain erection</p>

<p>83: Reasons for no interest in applicator - why respondent does not want to try applicator</p>
<p>&emsp;84: Other</p>
<p>&emsp;85: I don't see the point</p>
<p>&emsp;86: It would take too much time</p>
<p>&emsp;87: Added interruption/inconvenience</p>
<p>&emsp;88: Cost</p>

<p>89: Interest in multi-layer condom - respondent is interested in trying multi-layer condom</p>
<p>&emsp;90: Agree</p>
<p>&emsp;91: Strongly Agree</p>
<p>&emsp;92: Disagree</p>
<p>&emsp;93: Strongly Disagree</p>
<p>&emsp;94: Neither agree nor disagree</p>

<p>95: Reasons for MLC interest - why respondent is interest in trying multi-layer condom</p>
<p>&emsp;96: Other</p>
<p>&emsp;97: To enhance stimulation to the person receiving penetration during sex</p>
<p>&emsp;98: To help apply the condom quickly</p>
<p>&emsp;99: To help maintain erection</p>
<p>&emsp;100: To enhance stimulation to the penis during sex</p>

<p>101: Reasons for no MLC interest - why respondent is not interested in trying multi-layer condom</p>
<p>&emsp;102: Other</p>
<p>&emsp;103: It would take too much time</p>
<p>&emsp;104: Added interruption/inconvenience</p>
<p>&emsp;105: Cost</p>
<p>&emsp;106: I don't see the point</p>

<p>107: Which one - which of the two responses (MLC, applicator) sounds most appealing to respondent</p>
<p>&emsp;108: Both</p>
<p>&emsp;109: Perforated Package with Tabs that allows Condom Application</p>
<p>&emsp;110: Neither</p>
<p>&emsp;111: Multi-Layer Lubricated Condom</p>

<p>113: Age - age of respondent</p>
<p>&emsp;114: 30-39 years</p>
<p>&emsp;115: 40-49 years</p>
<p>&emsp;116: 18-29 years</p>
<p>&emsp;117: 50-59 years</p>
<p>&emsp;118: 60-69 years</p>
<p>&emsp;119: 70-79 years</p>

<p>120: Country - country respondent lives in</p>
<p>&emsp;121: United States</p>
<p>&emsp;122: Nigeria</p>
<p>&emsp;123: Jamaica</p>
<p>&emsp;124: Dominican Republic</p>
<p>&emsp;125: Burkina Faso</p>
<p>&emsp;126: South Sudan</p>
<p>&emsp;127: Belize</p>
<p>&emsp;128: Kenya</p>
<p>&emsp;129: Suriname</p>
<p>&emsp;130: United Kingdom</p>
<p>&emsp;131: India</p>
<p>&emsp;132: Belgium</p>
<p>&emsp;133: Bhutan</p>
<p>&emsp;134: Laos</p>
<p>&emsp;135: Uruguay</p>
<p>&emsp;136: Lesotho</p>
<p>&emsp;137: Burma</p>
<p>&emsp;138: Mexico</p>
<p>&emsp;139: Haiti</p>
<p>&emsp;140: Canada</p>
<p>&emsp;141: Thailand</p>
<p>&emsp;142: Liberia</p>
<p>&emsp;143: Germany</p>
<p>&emsp;144: Switzerland</p>
<p>&emsp;145: Uganda</p>
<p>&emsp;146: Madagascar</p>
<p>&emsp;147: Uzbekistan</p>
<p>&emsp;148: Iran</p>
<p>&emsp;149: Papua New Guinea</p>
<p>&emsp;150: Costa Rica</p>
<p>&emsp;151: Trinidad and Tobago</p>
<p>&emsp;152: Philippines</p>
<p>&emsp;153: Namibia</p>
<p>&emsp;154: China</p>
<p>&emsp;155: Indonesia</p>
<p>&emsp;156: Burundi</p>
<p>&emsp;157: Vietnam</p>
<p>&emsp;158: Mauritania</p>
<p>&emsp;159: Mozambique</p>
<p>&emsp;160: Botswana</p>
<p>&emsp;161: Eritrea</p>
<p>&emsp;162: Malaysia</p>
<p>&emsp;163: Kazakhstan</p>
<p>&emsp;164: Cambodia</p>
<p>&emsp;165: Bolivia</p>
<p>&emsp;166: Guyana</p>
<p>&emsp;167: Barbados</p>
<p>&emsp;168: Guatemala</p>
<p>&emsp;169: Venezuela</p>
<p>&emsp;170: Angola</p>
<p>&emsp;171: Central African Republic</p>
<p>&emsp;172: Moldova</p>
<p>&emsp;173: Luxembourg</p>
<p>&emsp;174: Zambia</p>
<p>&emsp;175: Malawi</p>
<p>&emsp;176: Democratic Republic of the Congo</p>
<p>&emsp;177: South Africa</p>
<p>&emsp;178: Denmark</p>
<p>&emsp;179: Australia</p>
<p>&emsp;180: Nicaragua</p>
<p>&emsp;181: Macedonia</p>
<p>&emsp;182: Turkmenistan</p>
<p>&emsp;183: Cameroon</p>
<p>&emsp;184: Mongolia</p>
<p>&emsp;185: Zimbabwe</p>
<p>&emsp;186: Sri Lanka</p>
<p>&emsp;187: France</p>
<p>&emsp;188: New Zealand</p>
<p>&emsp;189: Comoros</p>
<p>&emsp;190: Senegal</p>
<p>&emsp;191: Togo</p>
<p>&emsp;192: Georgia</p>
<p>&emsp;193: Kyrzygstan</p>
<p>&emsp;194: Russia</p>
<p>&emsp;195: Belarus</p>
<p>&emsp;196: Sweden</p>
<p>&emsp;197: Spain</p>
<p>&emsp;198: Brazil</p>
<p>&emsp;199: Hungary</p>

<p>200: relationship status - relationship status of the respondent</p>
<p>&emsp;201: Other</p>
<p>&emsp;202: Non-monogamous relationship</p>
<p>&emsp;203: Single- dating</p>
<p>&emsp;204: Single- not dating</p>
<p>&emsp;205: Monogamous relationship</p>
<p>&emsp;206: Open relationship</p>

<p>207: gender identity - gender identity of respondent</p>
<p>&emsp;208: Man</p>
<p>&emsp;209: Woman</p>
<p>&emsp;210: Prefer not to answer</p>
<p>&emsp;211: Non-Binary/Gender Fluid</p>

<p>212: transgender - Does the respondent identify as transgender</p>
<p>&emsp;213: No</p>
<p>&emsp;214: Prefer not to Answer</p>
<p>&emsp;215: Yes</p>

<p>216: Sexual Orientation - Respondent's Sexual Orientation</p>
<p>&emsp;217: Bisexual</p>
<p>&emsp;218: Prefer not to Answer</p>
<p>&emsp;219: Heterosexual</p>
<p>&emsp;220: Homosexual/Gay</p>
<p>&emsp;221: Other</p>

<p>222: Race - What race(s)/ethnic identities respondent identifies with</p>
<p>&emsp;223: Other</p>
<p>&emsp;224: Non-Hispanic White</p>
<p>&emsp;225: Black, Afro-Caribbean or African American</p>
<p>&emsp;226: Asian/Pacific Islander</p>
<p>&emsp;227: Prefer not to Answer</p>
<p>&emsp;228: Latinx</p>
<p>&emsp;229: Native American or American Indian</p>

<p>230: Economic situation - respondent's economic situation</p>
<p>&emsp;231: I cover expenses, with the ability to indulge</p>
<p>&emsp;232: I never worry about covering expenses and indulge often</p>
<p>&emsp;233: I cover expenses comfortably</p>
<p>&emsp;234: I meet basic needs, but carefully watch my spending</p>
<p>&emsp;235: I struggle to make ends meet</p>
<p>&emsp;236: Prefer not to answer</p>

<p>237: Religion's importance - If religious beliefs influence any of respondent's answers to the questions in this survey</p>
<p>&emsp;238: No</p>
<p>&emsp;239: Yes</p>
<p>&emsp;240: Prefer not to Answer</p>

<p>241: Disability yes/no - Does the respondent identify as someone with disabilities</p>
<p>&emsp;242: No</p>
<p>&emsp;243: Yes</p>
<p>&emsp;244: Prefer not to Answer</p>

<p>245: Disabilities - Disabilities Respondent claims to have (if any)</p>
<p>&emsp;246: Other</p>
<p>&emsp;247: Mental Health</p>
<p>&emsp;248: Mobility</p>
<p>&emsp;249: Vision</p>
<p>&emsp;250: Prefer not to Answer</p>
<p>&emsp;251: Cognitive</p>
<p>&emsp;252: Communication</p>
<p>&emsp;253: Hearing</p>
<p>&emsp;254: Dexterity</p>



</body>
</html>